.calendar{
    width: 300px;
    background-color: rgb(217, 217, 217);
    border-radius: 20px;
    box-shadow: 0 15px 40px rgba(0,0,0,0.12);
}
.calendar header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
header .arrows{
   display: flex;
}
header .arrows span{
  height: 38px;
  width: 38px;
  margin: 0 1px;
  color: #878787;
  text-align: center;
  line-height: 38px;
  font-size: 1.9rem;
  user-select: none;
  border-radius: 50%;
}
header .icons span:hover{
    background: #f2f2f2;
}
.board{
    padding: 10px 15px;
}
.calendar ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    text-align: center;
}
.calendar .week,.days{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    text-align: center;
    justify-content: space-between;
    padding: 0px;
}
.week li{
    flex: 1 0 10%;
    display: flex; 
    justify-content: center; 
    text-align:center; 
    align-items: center;
    user-select: none;
}
.days li{
    position: relative;
    width: calc(100% / 7);
    height: 40px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    user-select: none;
}
.days li::before{
    position: absolute;
    content: "";
    left: 50%;
    top: 50%;
    height: 30px;
    width: 30px;
    z-index: -1;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}
.days li:not(.active):hover::before{
    background: #f2f2f2;
    border: 1px solid #ffa375;
}
.days li.inactive{
    color: #aaa;
}
.days li.normal{
    color: black;
}
.days li.active::before{
    background: linear-gradient(#fe667d, #ffa375);
}
.days li.active{
    color: white;
}
.arrow:hover{
    cursor: pointer;
    user-select: none;
    animation: snake 0.2s ease-in-out;
}
